.container {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.box {
  top: 5vh;
  left: 10vw;
  width: 80vw;
  height: 90vh;
  position: fixed;
  background-color: var(--tertiary-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.headerBox {
  background-color: var(--secondary-color);
  border-radius: 16px 16px 0 0;
  padding-bottom: 8px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.bigTitle {
  margin: 0 6px 0 8px;
  flex-grow: 1;
}

.date {
  margin: 0 8px 0 0;
  text-align: right;
}

.close {
  margin: 0 8px 0 0;
  font-size: 2em;
  cursor: pointer;
  align-self: flex-start;
}

.name {
  margin: 0 0 0 8px;
}

.linkA {
  font-size: 0.6em;
  padding-left: 4px;
  text-decoration: underline;
  color: aqua;
}

.selectedHeader {
  background-color: rgba(129, 166, 214, 0.432);
}

.description {
  width: calc(100% - 16px);
  word-wrap: break-word;
  overflow-y: scroll;
  margin: 0 8px 8px 8px;
}

.description > :is(h1, h2, h3, h4, h5, h6) {
  border-radius: 16px;
  padding-left: 6px;
}

.description img {
  max-width: 50%;
}

.description table,
.description th,
.description td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 6px;
}

.description .tablecontainer {
  max-width: 100%;
  width: fit-content;
  overflow-x: auto;
  padding: 2px;
  box-sizing: border-box;
  background-color: var(--secondary-color);
}

@media all and (orientation: portrait) {
  .box {
    top: 2vh;
    width: 95%;
    left: 2.5%;
  }

  .description {
    font-size: 0.8em;
  }

  .description img {
    max-width: 100%;
  }
}
