.content {
  flex-grow: 1;
  display: flex;
  min-height: 0;
  flex-direction: column;
}

.searchcontainer {
  padding: 10px;
  box-sizing: border-box;
}

.updatecontainer {
  overflow: scroll hidden;
  flex-grow: 1;
  display: inline-flex;
  white-space: nowrap;
}

.update {
  width: 30%;
  height: 96%;
  float: left;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  margin-top: 0.5%;
  margin-left: 0.5%;
  border-radius: 16px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
  background-color: var(--secondary-color);
}

.update:last-child {
  margin-right: 0.5%;
}

.splitline {
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
  text-align: right;
}

.update h2,
.update h4 {
  margin: 0 3px 0 3px;
}

.update h4 {
  color: var(--secondary-text);
}

.description {
  margin: 5px 0 5px 0;
  padding: 0 5px 0 5px;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  flex-basis: 20%;
  flex-shrink: 1;
  background-color: var(--tertiary-color);
  overflow-y: scroll;
}

.featurelist {
  overflow-y: scroll;
  padding-bottom: 10%;
}

.feature {
  overflow: hidden;
  white-space: normal;
  min-height: 6%;
  border-radius: 8px;
  background-color: var(--feature-color);
  margin-bottom: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.feature > .left {
  margin: 0;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 1;
  padding-left: 4px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-width: 40%;
  max-width: 75%;
}

.feature > .right {
  margin: 0;
  box-sizing: border-box;
  min-width: 25%;
  padding-right: 4px;
  float: none;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.full {
  height: fit-content;
}

@media all and (orientation: portrait) {
  .update {
    width: 85%;
  }
}
