.content {
  flex-grow: 1;
  display: flex;
  min-height: 0;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.optionscontainer {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

.optionscontainer label {
  user-select: none;
}

.searchcontainer {
  background-color: var(--secondary-color);
  padding: 2px 6px 2px 6px;
  border: solid 2px var(--secondary-color);
  border-radius: 12px;
  display: flex;
}

.searchcontainer img {
  height: calc(1em + 6px);
}

.searchcontainer input {
  max-width: 150px;
  min-width: 70px;
  width: 10vw;
  width: 10dvw;
}

.checkboxcontainer {
  white-space: nowrap;
  background-color: var(--secondary-color);
  padding: 2px 4px 2px 0;
  border: solid 2px var(--secondary-color);
  border-radius: 12px;
}

.endItems {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.headerLogoContainer img,
.infoButton img {
  height: 100%;
}

.headerLogoContainer {
  height: 1.4em;
  margin-right: 4px;
  position: relative;
  top: -0.5px;
}

.infoButton {
  height: 1.5em;
  filter: invert();
}

@media (prefers-color-scheme: light) {
  .infoButton img {
    filter: none;
  }
}

.updatecontainer {
  display: flex;
  overflow: scroll hidden;
  flex-grow: 1;
  white-space: nowrap;
  padding-bottom: 0.3%;
}

.updatecontainergrid {
  composes: updatecontainer;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 6px;
}

.update {
  box-sizing: border-box;
  padding-bottom: 3px;
  width: 30%;
  max-height: 100%;
  float: left;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  border-radius: 16px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
  background-color: var(--secondary-color);
}

.updatecontainergrid .update {
  flex-grow: 1;
}

.update:last-child {
  margin-right: 0.5%;
}

.splitline {
  width: 100%;
  display: flex;
  align-items: center;
  height: 44px;
  margin-bottom: 6px;
}

.left {
  flex: 1 0 0;
  margin: 0 3px 0 3px;
  line-height: 1.3em;
}

.right {
  flex: 0 1 0;
  text-align: right;
  color: var(--secondary-text);
  font-weight: bold;
  align-self: flex-start;
  line-height: 22px;
}

.update h2 {
  margin: 0;
}

.description {
  font-size: 0.8em;
  margin-left: 1px;
}

.featurelist {
  overflow-y: auto;
  padding-bottom: 2%;
  flex-grow: 1;
}

.feature {
  overflow: hidden;
  color: inherit;
  text-decoration: inherit;
  white-space: normal;
  min-height: 1.1em;
  border-radius: 8px;
  background-color: var(--feature-color);
  margin-bottom: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.feature:hover {
  color: inherit;
  background-color: var(--feature-color-hover);
}

.featureleft {
  margin: 0;
  box-sizing: border-box;
  flex-shrink: 1;
  flex-grow: 0;
  padding-left: 6px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.featuremiddle {
  flex-grow: 1;
  flex-shrink: 0;
}

.featureright {
  margin: 0;
  flex-shrink: 1;
  text-align: right;
  box-sizing: border-box;
  padding-right: 4px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.full {
  height: fit-content;
}

@media all and (orientation: portrait) {
  .update {
    width: 85%;
  }
}
