:root {
  --header-height: 55px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media all and (orientation: portrait) {
  .container {
    height: 94vh;
  }
}
