.noselect {
  user-select: none;
}

.header {
  /* position: fixed;
    top: 0; */
  height: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--header-color);
}

.item {
  margin: 0;
  padding: 0 8px 0 8px;
  text-align: center;
  line-height: 1em;
}

.middle {
  flex-grow: 1;
}

.headerLogoContainer {
  height: 50%;
}

.headerLogo {
  height: 100%;
}
