:root {
  --header-color: #383838;
  --secondary-color: #4d4d4d;
  --tertiary-color: #5e5e5e;

  --secondary-text: #d3d3d3;

  font-family: Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.05em;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --header-color: rgb(202, 202, 202);
    --secondary-color: #d6d6d6;
    --tertiary-color: #bbbbbb;

    --secondary-text: #1e2c36;

    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
